<section class="header">
  <div class="wrap-section">
    <div class="top">
      <img
        src="../../assets/claim-credit-mutuelle.svg"
        alt="img"
        id="mutuelle"
      /><img src="../../assets/logo_argeles_rond_bleu.png" alt="" />
    </div>
    <div class="logo"><img src="../../assets/head_logo.png" alt="" /></div>
    <div>
      <nav>
        <ul>
          <li>
            <a
              href="https://www.festival-lesdeferlantes.com/"
              aria-current="page"
              >Accueil</a
            >
          </li>
          <li>
            <a href="https://www.festival-lesdeferlantes.com/billetterie/"
              >Billetterie</a
            >
          </li>
          <li>
            <a href="https://www.festival-lesdeferlantes.com/programme/"
              >Prog</a
            >
          </li>
          <li>
            <a href="https://www.festival-lesdeferlantes.com/partenaires/"
              >Partenaires</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
